

hr {
    border: none;
    border-top: 1px solid var(--color-primary);
    margin: 2rem 0; 
}

.Entry {
    margin: 1.5rem;
}

.Entry h4 {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.Entry p {
    margin-top: 0.2rem;
}