

.MandelbrotSection {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    display: block;
    /* margin: 20px 0; */
    border-radius: 8px;
    overflow: hidden;
}

.MandelbrotSection .HomeImage {
    width: 100%;
    height: auto;   
}