footer {
    margin-top: 80px;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    border-top: 1px solid #e0e0e0;
    color: #e0e0e0;
}


.footer-text {
    color: gray;
    font-size: 0.9rem;
    margin-bottom: 20px;
    text-align: center;
}

.Link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Link p {
  margin: 0;
}

.Link hr {
  flex: 1;              /* line fills the space between text and link */
  border: none;
  border-top: 1px dotted #666; /* style of the line */
  margin: 0;
}

.Link a {
  white-space: nowrap;  /* keep URL on one line */
}
