.header {
  padding: 1rem 0;
}

.nav {
  display: flex;
  gap: 1.5rem;        /* space between links */
  justify-content: flex-end; /* or space-between / flex-start */
  align-items: center;
}

.nav a,
.nav .nav-link {
  text-decoration: none;
  color: gray;       /* default link color */
  transition: color 0.3s ease; /* smooth fade */
}

.nav a:hover,
.nav .nav-link:hover {
  color: darkgray;      /* hover color */
}

.nav .nav-link.active {
  color: white;         /* active route link color */
}

.name {
    display: flex;
    flex-grow: 1;      /* pushes links to the right */
    justify-content: flex-start;
    font-size: 200%;
}

.name a {
    color: white;
    font-weight: 500;
}